body {
  background-color: var(--dm-bakground);
  user-select: none;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin-left: 10%;

  .drum-machine-container {
    width: 100%;
    min-width: 500px;
    max-width: 1000px;
    background-color: var(--dm-container);
  }
}
