$margin: 10px;

.instrument-pages-container {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  position: relative;

  .instrument-pages-container-center {
    width: fit-content;
    position: absolute;
    right: 0;

    .instrument-ticks-length > span {
      font-family: 'Tiny5', sans-serif;
      font-size: 1.5em;
      color: var(--dm-white);
      vertical-align: middle;

      &::before {
        content: ' / ';
      }
    }
  }

  .instrument-pages-selector {
    text-align: center;
    margin-top: $margin;

    & > button {
      margin-top: $margin;
    }
  }
}
